footer p{
    position:fixed;
    right:0;
    bottom:0;
    font-size:.8em;
    color:#bbbbbb;
    padding-right:1em;
     z-index:4;
}
header p{
    position:fixed;
    right:0;
    top:0;
    font-size:.8em;
    color:#bbbbbb;
    padding-right:1em;
     z-index:4;
}
p.error{
    color:darkred;
    font-weight:bold;
}
p.confirm{
    color:darkgreen;
    font-weight:bold;
}
span.required{
    font-weight:bold;
    color:darkred;
    font-size:.8em;
}
div.editscrn,
div.editscrn div{
    width:auto;
    height:auto;
}
span.order{
    font-weight:bold;
}
span.order a{
    text-decoration:none;
}